<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <!-- if the user is logged in then do this else -->
      <% if (locals.user){%>
      <li><%= user.name %></li>
      <li>
        <a href="/signout">Sign Out</a>
      </li>

      <%} else {%>
      <li>
        <a href="/login">Sign In</a>
      </li>
      <li>
        <a href="/signUp">Sign Out</a>
      </li>
      <%} %>
    </ul>
  </body>
</html>
